
<div class="hero-filter">
  <div class="container">
    <h1 class="center">Are you ready for this?</h1>
    <p class="p"><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></p>
    <p class="p"> Welcome to the Task App brought to you by the new and improved X-MEN</p>