
<div class="hero-filter">
  <div class="container">
    <h1>Are you ready for this?</h1>
    <p><%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %></p>
    <p><%= link_to "No, take me back to facebook!", "https://www.facebook.com/", class: "btn btn-lg btn-primary" %></p>

