<% provide(:title, "Contact") %>
<h1 class="center">Contact</h1>
<p class="p">
  If you have any questions you can contact us at one of the following e-mails.
  <ul class="ul2">
      <li>Triantae@amazon.com  Liz</li>
      <li>Wilsoncruz@amazon.com  Wilson</li>
      <li>Staffoyg@amazon.com Stafford</li>
      <li>Dsuydam@amazon.com Donna<li>
  </ul>
</p>