<div class="">
  <h1 class="center">Welcome to the Task App</h1>

  <h2 class="center">
    Home
  </h2>
  
  <p class="p">This is the Task app. Please sign up or log in.</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

