<div class="default-block t">
  <div class="t">
    <%= link_to "Active Projects ( #{active} )", projects_path, class: "btn btn-warning by" %> 
  </div>
  <div class="inline-button by">
    <%= link_to "Complete Projects ( #{complete} )", complete_projects_path, class: "btn btn-success " %>
  </div>
  <div class="inline-button by">
    <%= link_to "Overdue Projects ( #{overdue} )", overdue_projects_path, class: "btn btn-danger " %>
  </div>
</div>
