<%= render partial: "projects_status_filter", locals:{overdue: @overdue, active: @active, complete: @complete} %>

<div class="default-block t">
  <h2 class="t">Active Projects</h2>
  <div class="t"> </div>
  <% if @projects.empty? %>
    <h4 class="center"><%= "You don't have any projects yet. Why not start by creating a new one?" %></h4>
  <% else %>
    <div class="row">
      <% @projects.each_with_index do |project, index| %>
        <%= render partial: "project", locals: {project: project, index: index} %>
      <%end %>
    </div>
  <% end %>
</div>